Flask
libindic-utils>=1.0.3
libindic-soundex>=1.0.2
-e git+https://github.com/libindic/Transliteration.git#egg=libindic-transliteration
-e git+https://github.com/libindic/text-similarity.git#egg=libindic-textsimilarity
-e git+https://github.com/libindic/ucasort.git#egg=libindic-ucasort
-e git+https://github.com/libindic/spellchecker.git#egg=libindic-spellchecker
-e git+https://github.com/libindic/shingling.git#egg=libindic-shingling
-e git+https://github.com/libindic/scriptrender.git#egg=scriptrender
-e git+https://github.com/libindic/payyans.git#egg=libindic-payyans
-e git+https://github.com/libindic/inexactsearch.git#egg=libindic-inexactsearch
-e git+https://github.com/libindic/syllabalizer.git#egg=libindic-syllabifier
-e git+https://github.com/libindic/indicngram.git#egg=libindic-ngram
-e git+https://github.com/libindic/indicfortune.git#egg=libindic-fortune
-e git+https://github.com/libindic/Hyphenation.git#egg=libindic-hyphenation
-e git+https://github.com/libindic/guesslanguage.git#egg=libindic-guesslanguage
-e git+https://github.com/libindic/chardetails.git#egg=libindic_chardetails
-e git+https://github.com/libindic/katapayadi.git#egg=libindic-katapayadi
-e git+https://github.com/libindic/indicstemmer.git#egg=libindic-stemmer
-e git+https://github.com/libindic/sandhi-splitter.git#egg=sandhisplitter
gunicorn